body,
html {
  width: 100vw;
  height: 100vh;

  background-color: #f7f6f2;

  background-size: 50px 50px;

  background-image:
    linear-gradient(#dcdcdc 1px, transparent 1px),
    linear-gradient(90deg, #dcdcdc 1px, transparent 1px);
  padding: 0;
  margin: 0;
}
.box {
  position: absolute;
  top: 150px;
  right: 100px;
  height: 250px;
  width: 375px;
  color: black;
  border-radius: 3px;
  box-shadow: 0 0 0 12px black;
  background-color: black;
  box-sizing: border-box;
}
.topbar {
  position: sticky;
  background-color: #080808;
  border-radius: 30px;
  top: 0px;
  height: 65px;
  width: 70%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.roundball {
  background-color: rgb(255, 111, 0);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  height: 40px;
  width: 550px;
  position: relative;
  left: 150px;
  background-color: rgb(253, 108, 24);
  border-radius: 16px;
  top: 12px;
  font-style: italic;
  font-size: 36px;
  text-align: center;
  text-shadow: 0px 4px 4px black;
  border: 2px solid rgba(252, 144, 2, 0.8);
}
.menu {
  display: flex;
  gap: 20px;
  position: absolute;
}
.pocket {
  height: 2em;
  width: 23.5em;
  background-color: rgb(255, 111, 0);
  border-radius: 5px;
}
.small_box {
  position: relative;
  top: 80%;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 111, 0);
  border-radius: 5px;
  right: -95%;
}
.login_btn {
  height: 45px;
  width: 75px;
  background-color: rgb(49, 48, 48);
  border-radius: 12px;
  display: flex;
  /* box-shadow: 4px 4px 0 8px; */
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  transition: scale 0.3 ease-in;
  transition: border-radius 0.3 linear;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 4px 4px black;

  font-size: 20px;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  animation:
    border-radius,
    height,
    width,
    font-size 0.4 ease-in;
}
.register_btn {
  background-color: white;
  height: 45px;
  width: 100px;
  position: absolute;
  right: 130px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 12px;

  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
